.env

**/.venv/
**/__pycache__/
**/.cache/

rlhf-project/hf_upload/
rlhf-project/sft_gpt2/model/
rlhf-project/sft_gpt2/checkpoints/
rlhf-project/sft_gpt2/logs/
rlhf-project/sft_gpt2/evaluation/tmp_*/
rlhf-project/reward_gpt2/model/
rlhf-project/reward_gpt2/checkpoints/
rlhf-project/reward_gpt2/logs/
rlhf-project/reward_gpt2/evaluation/tmp_*/
rlhf-project/ppo_gpt2/model/
rlhf-project/ppo_gpt2/checkpoints/
rlhf-project/ppo_gpt2/logs/
rlhf-project/ppo_gpt2/evaluation/tmp_*/
rlhf-project/ppo_gpt2/value_head.pt
